.container {
  padding-top: 100px;
  padding-bottom: 20px;
}
.items {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
  min-width: 357px;
  min-height: 220px;
  color: #fff;
  &__phone {
    flex: 1;
    background-color: rgb(72, 73, 74);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    &__text {
      text-align: left;
      padding-left: 80px;
      h4 {
        color: rgba(255, 255, 255, 0.6);
        width: 120px;
        word-break: break-word;
        font-size: 32px;
      }
      p {
        color: rgba(255, 255, 255, 1);
        font-weight: bold;
      }
      span {
        font-weight: 300;
        color: rgba(255, 255, 255, 1);
      }
    }
    &__img {
      position: absolute;
      bottom: 45px;
      right: -9px;
      img {
        max-width: 150px;
      }
    }
  }
  &__keyboard {
    flex: 1;
    border-radius: 20px;
    background-color: orange;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__text {
      padding-right: 20px;
      text-align: right;
      h4 {
        word-break: break-word;
        width: 140px;
        color: rgba(255, 255, 255, 0.6);
      }
    }
    &__img {
      img {
        // position: relative;
        // top: 0;
        // left: 0;
        width: 100%;
      }
    }
  }
  &__macbook {
    flex: 2;
    border-radius: 20px;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__text {
      span {
        color: rgba(255, 255, 255, 0.6);
        font-size: 48px;
        font-weight: bold;
      }
      p {
        color: #fff;
        font-weight: bold;
      }
    }
    &__img {
      img {
        max-width: 200px;
        object-fit: cover;
      }
    }
  }
}
